

<% @posts.each do |post| %>
<div class="post">
  <div class="post_box">

    <div class="post_header">
      <%= link_to post.user.name, user_path(post.user_id), class: 'bold_black' %>
      <span class="timestamp pull-right"><%= distance_of_time_in_words(DateTime.now, post.created_at) %></span>
      <hr>
    </div>
    <div class="post_body">
      <%= post.description %>
    </div>
    
    <div class="tools">
    <% if post.user == current_user %>
      <%= link_to 'Edit Post', edit_post_path(post.id),id: 'options',class: 'bold_black col-md-5' %>
      <%= link_to 'Delete Post', post_path(post.id), method: :delete,id: 'options',class: 'bold_black col-md-5' %>
      <!-- code below this is just a prototype -->
      <input type="button" class="btn btn-primary col-md-2" value="Let's Help">
    <% end %>
    </div>
    <form class="comment">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Comment...">
      </div>
    </form>
  </div>
</div>

<% end %>