<!-- <div class="post_box">
        <div class="posts">
          <% @posts.each do |post| %>
          <div class="panel-heading text-center">
            <%= link_to post.user.name, user_path(post.user_id), class: 'bold_black' %>
          </div>
          <div class="panel-body text-center">
            <%= post.description %>
            <%= link_to 'View Post', post_path(post.id),class: 'bold_black pull-right' %>
          </div>
          <div class="panel-footer text-right">
            <input type="button" class="btn btn-default help-me" value="Let's Help"/>
          </div>
        </div>
      </div>
  <% end %>
</div> -->

<% @posts.each do |post| %>
<div class="post">
  <div class="post_box">

    <div class="post_header">
      <%= link_to post.user.name, user_path(post.user_id), class: 'bold_black' %>
      <span class="timestamp pull-right"><%= distance_of_time_in_words(DateTime.now, post.created_at) %></span>
      <hr>
    </div>
    <div class="post_body">
      <%= post.description %>
      <%= link_to 'View Post', post_path(post.id),class: 'bold_black pull-right' %>
    </div>

    <% if post.user == current_user %>
      <%= link_to 'Edit Post', edit_post_path(post.id),id: 'options',class: 'bold_black' %>
      <%= link_to 'Delete Post', post_path(post.id), method: :delete,id: 'options',class: 'bold_black' %>
    <% end %>
  </div>
</div>

<% end %>